# Exclude Common Files and Folders
.DS_Store
.vscode/
.builds/
.notes/
.idea/
venv/

# Exclude Folder
Text/

# Exclude Files
API_Key.js
Session.json
Settings.js
Settings.json
*.log
*.ps1

# Exclude personal Files (BrainInBlack)
AnEternalEnigma
BloodThunder
KatLink
PersonSuit
TheLevelUpShow
