# Exclude Common Files and Folders
.vscode/
.notes/
.idea/

# Exclude user specific Files
API_Key.js
Session.json
Settings.js
Settings.json

# Exclude personal Files (BrainInBlack)
AnEternalEnigma/
KatLink/
PersonSuit/
