# Exclude Common Files and Folders
.vscode/
.notes/
.idea/
venv/

# Exclude Folder
Text/

# Exclude Files
API_Key.js
Session.json
Settings.js
Settings.json

# Exclude personal Files (BrainInBlack)
AnEternalEnigma
BloodThunder
KatLink
PersonSuit
