@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

$font: 'Shadows Into Light', cursive;
$color: rgba(255, 255, 255, 1);
$glow: rgba(100, 65, 164, 1);


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
}

#Tracker {
	width: 100%;
	text-align: center;
	position: absolute;
	background: transparent;
	z-index: 0;
	font-family: $font;
	font-size: 94px;
	letter-spacing: 0.06em;
	color: $color;

	&:before {
		content: attr(title);
		position: absolute;
		-webkit-text-stroke: 0.09em $glow;
		z-index: -1;
	}
}
