@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

$font: 'Shadows Into Light', cursive;
$color: rgba(255, 255, 255, 1);
$glow: rgba(100, 65, 164, 1);

body { margin: 0;}

div {
	margin : 0;
	font-family: $font;
	font-size: 72pt;
	text-align: center;
	text-shadow: 0 0 10px $glow;
	-webkit-text-fill-color: $color;
	-webkit-text-stroke: 0.02em $glow;
}
